@{
    ViewData["Title"] = "Entry Submitted";
}

@model Mission06_ht242.Models.movieEntry

<h1 class="display-4">New Movie Successfully Submitted</h1>
<br />
<br />

<!--Confirmation with specific movie title in the response-->
<p>Thank you for contributing '@Model.Title' to the collection </p>
