@{
    ViewData["Title"] = "Entry Submitted";
}

@model Mission06_ht242.Models.movieEntry

<h2>New Movie Successfully Submitted</h2>

<p>Thank you for contributing '@Model.Title' to the collection </p>
