@{
    ViewData["Title"] = "The Joel Hilton Film Collection”";
}

<div class="text-center">
    <br /><br />
    <!--Header with title-->
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <br /><br />
    <!-- Image of Joel -->
    <img src="~/img/joel.jpg" />
    <br /><br />
    <p>
        Joel minored in Film Studies at BYU, contracts as a movie reviewer for ClearPlay,
        and does a weekly podcast with a couple friends about movies called Baconsale. This website is created for the purpose
        of managing his movie collection database.
    </p>
    <br />
    <!-- Link to add a movie to the collection-->
    <a asp-controller="Home" asp-action="Collection">Add a movie to the collection</a>
    <br />
    <br />
</div>
