@{
    ViewData["Title"] = "My Podcast";
}

<br /><br />
<h1 class="display-4">@ViewData["Title"]</h1>
<br /><br />

<p>I hope you enjoy <a href="https://baconsale.com/">the Podcast</a>, Baconsale</p>
